@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
@import "react-alice-carousel/lib/scss/alice-carousel.scss";

.root {
  background-color: #ece9d8;
}

.App {
  font-family: 'Roboto', sans-serif;
  
}

.carousel-image {
opacity: 88%;
}

.education, .projects, .footer, .reflections{
margin: 20px;
padding: 20px;
// border: 1px solid #ddd;
// border-radius: 10px;
box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header h1, .header h2 {
margin: 0;
}

.header {
  // padding: 0px;
  // height: 98vh;
  display:flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(to bottom, rgba(255, 255, 255, 0) 96.5%, rgba(255, 255, 255, 1)), url(../public/xpbackground.jpg); // Ensure the image file is in the public folder
  // background-size: cover;
  // background-position: center;
  // background-repeat: no-repeat; // Ensure the image does not repeat
}

.profile {
  padding-bottom: 0;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 101vh;
}

.profile > div {
  margin: 10px; /* Add some margin for spacing */
}

.profile > div:nth-child(1),
.profile > div:nth-child(2) {
  width: 250px; /* Set the width for the first and second divs */
}

.profile > div:nth-child(3) {
  width: 500px; /* Set the width for the third div */
  // justify-self: center;
  // text-align: center; /* Center the content inside the third item */
}

.button-accept {
  position: relative;
  left: 28px;
}
.button-cancel {
  position: relative;
  left: 49px
}

ul {
list-style-type: none;
padding: 0;
}

ul li {
margin: 5px 0;
}

button {
  padding: 0 12px;
  border-radius: 2px;
}

.projects{
    text-align: center;
}

.notepad-buttons {
  border: 0;
  background: #ece9d8;
  border-radius: 0;
}
