.App {
  /* text-align: center; */
}

.header, .profile, .experience, .education, .skills, .footer {
  margin: 20px;
  padding: 20px;
  border: 1px solid #ddd;
  border-radius: 10px;
}

.header h1, .header h2 {
  margin: 0;
}

.profile img {
  border-radius: 50%;
}

ul {
  list-style-type: none;
  padding: 0;
}

ul li {
  margin: 5px 0;
}
